<%-include("partial/header");-%>
<h1>comment</h1>
<form class="" action="/compose" method="post">
<p>Title</p><input type="text" name="hello" size="100">
<p>Post </p>
<textarea name="Post" id="Post" cols="100" rows="8"></textarea>
<button type="submit" name="button">publish</button></form>