
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dailyl Jornal</title>
    <link rel="stylesheet" href="/css/style.css">
    <nav class="navbar navbar default">
    <div class="container">
    <div class="navbar-header">
    <p class="navbar-brand">Daily Jornal</p>
    </div>
    <ul class="nav navbar-nav navbar-right">
    <li id="home" ><a href="/">Home</a></li>
    <li id="about" ><a href="/about">about us</a></li>
    <li id="contact" ><a href="/contact">contact</a></li>
    <ul>
    </div>
    </nav>


</head>
<body>
<div class="container"></div>


   
    
</body>
<footer class="footer-padding"><p>hello it's bishal</p></footer>
</html>